div.panels-ipe-newblock a.locked span {
  background-image: url(../images/icon-lock.png);
}

div.panels-ipe-newblock a.unlocked span {
  background-image: url(../images/icon-unlock.png);
}

div.lock-ipe-locked {
  background-color: #f0f0f0 !important;
}

div.panels-ipe-newblock {
  box-shadow: none !important;
}
